[Unit]
Description=Minecraft server with Sevtech:Ages
After=network.target

[Service]
WorkingDirectory=/home/minecraft/server/sevtech_ages
ExecStart=/bin/bash /home/minecraft/server/sevtech_ages/ServerStart.sh

[Install]
WantedBy=multi-user.target
Restart=always
User=minecraft
Group=minecraft

