max-tick-time=60000
generator-settings=
force-gamemode=false
allow-nether=true
gamemode=0
dc_preset=notSet
enable-query=false
player-idle-timeout=0
difficulty={{ minecraft_properties.difficulty }}
spawn-monsters=true
op-permission-level=4
pvp=true
snooper-enabled=true
level-type=quark_realistic
hardcore=false
enable-command-block=false
max-players={{ minecraft_properties.max_players }}
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port={{ minecraft_properties.server_port }}
server-ip=
spawn-npcs=true
allow-flight=true
level-name=world
view-distance=10
resource-pack=
spawn-animals=true
white-list=false
generate-structures=true
online-mode=true
max-build-height=256
level-seed=
prevent-proxy-connections=false
use-native-transport=true
enable-rcon=false
motd={{ minecraft_properties.motd }}
